$base__font-size: 62.5%;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: $base__font-size;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
