.Visual {
  .Matrix {
    stroke: rgb(201, 201, 201);
    fill: antiquewhite;
  }

  .Cell {
    &.active {
      fill: rgb(255, 81, 81);
    }
  }

  button {
    border: none;
    background: #8BACC2;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }
}
